# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Docker
.docker/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
frontend/config.js
backend/.env
